
<div fxLayout="row">



  <div>
    <mat-form-field appearance="outline" style="width: 100px">
      <mat-label>Subject Id: </mat-label>
      <input matInput placeholder="Subject Id" formControlName="controle1">
      <mat-icon matSuffix>filter_list</mat-icon>
      <mat-hint>Subject Id</mat-hint>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" style="width: 100px">
      <mat-label>BirthYear</mat-label>
      <input matInput placeholder="Birth year" formControlName="controle1">
      <mat-icon matSuffix>filter_list</mat-icon>
      <mat-hint>BirthYear</mat-hint>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" style="width: 100px">
      <mat-label>Race Factor</mat-label>
      <input matInput placeholder="Race Factor" formControlName="controle1">
      <mat-icon matSuffix>filter_list</mat-icon>
      <mat-hint>Race Factor</mat-hint>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" style="width: 100px">
      <mat-label>Ethnic Factor</mat-label>
      <input matInput placeholder="Ethnic Factor" formControlName="controle1">
      <mat-icon matSuffix>filter_list</mat-icon>
      <mat-hint>Ethnic Factor</mat-hint>
    </mat-form-field>
  </div>

</div>


