
@mixin mat-icon-size($size: 22px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}

.example-card {
  width: 350px;
  margin-left: 20px;
}

.cardList {
  display: flex;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* Column Gap */
.cardList > * {
  box-sizing: border-box;
}
.cardList > *:not(:last-child) {
  margin-right: 32px;
}
/* Item sizing */
.cardListItem {
  flex: 0 1 calc(33.3% - 32px);
  margin-top: 15px;
  max-width: 350px;
}


.cards {
  margin-top: 20px;
  min-width: 90%;
}

.card-image {
  height: 80px;
  width: 80px;
  position: center;
  margin-left: 15px;
}

.span-tag-bio {
  color: red;
}

.span-tag-eco {
  color: green;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.cart-icone {
  color: dodgerblue;
  @include mat-icon-size(44px);
  background-size: 100% auto;
}

.quantity-icone {
  color: dodgerblue;
  @include mat-icon-size(14px);
  background-size: 70% auto;
}

#add-recipe-button {
  position: fixed;
  bottom: 12px;
  right: 12px;
  padding: 0;
  z-index: 99;
}

.corner-fap-button{
  top: auto;
  right: 20px;
  bottom: 20px;
  left: auto;
  position: fixed;

}

.wrapper {
  max-width: 90%;
  margin:auto ;
}

.pager-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

mat-paginator {
  display: flex;
  justify-content: center;
}

.table-search-input {
  font-size: 14px;
  width: 40%;
}

.custom-bar {
  background-color: whitesmoke;
}
