<div fxLayout="column" fxLayoutAlign="center center" class="wrapper">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
    <mat-form-field class="table-search-input">
      <input matInput placeholder="Rechercher votre recette" aria-label="Rechercher votre recette"
             [matAutocomplete]="auto" [formControl]="recipeSearch">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let client of clients" [value]="client.subject_id">
          <img class="example-option-img" aria-hidden
               src="http://www.iconarchive.com/download/i102645/graphicloads/flat-finance/person.ico" height="35" width="35"
               style="border-radius: 50%"> -
          <span>{{client.subject_id}}</span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>

      <div>
      </div>
      <div>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" fxLayoutAlign="center">

          <mat-button-toggle value="bold" (click)="filterCreationDate()">
            <mat-icon>add_alarm</mat-icon>
            Date de création
            <mat-icon *ngIf="!ascendantCreationSort">arrow_downward</mat-icon>
            <mat-icon *ngIf="ascendantCreationSort">arrow_upward</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="bold" (click)="filterUpdateDate()">
            <mat-icon>update</mat-icon>
            Date de modificaton
            <mat-icon *ngIf="!ascendantUpdateSort">arrow_downward</mat-icon>
            <mat-icon *ngIf="ascendantUpdateSort">arrow_upward</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="italic" (click)="filterAlphabeticName()">
            <mat-icon>sort_by_alpha</mat-icon>
            Nom
            <mat-icon *ngIf="!ascendantAlphabetciSort">arrow_downward</mat-icon>
            <mat-icon *ngIf="ascendantAlphabetciSort">arrow_upward</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>


  </div>

  <div class="cardList">
    <ng-container *ngFor="let client of clients"
                  Style="border-style: dot-dash; height: 100%"
    >
      <mat-card [class.mat-elevation-z8]="true" class="cardListItem">
        <mat-card-header fxLayout="column" fxLayoutAlign="center center" class="custom-bar">

          <mat-card-title>{{client.subject_id}}</mat-card-title>

          <mat-card-subtitle>
            <div>
              <span>Birth year: {{client.birth_year }}</span>
            </div>
            <div>
              <span>Gender: {{client.gender }}</span>
            </div>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutAlign="center center" >

          <div>
            <mat-icon
             color="ornadered">
              star
            </mat-icon>
            <mat-icon
              color="ornadered">
              star
            </mat-icon>
            <mat-icon
              color="ornadered">
              star
            </mat-icon>
            <mat-icon
              color="ornadered">
              star
            </mat-icon>
            <mat-icon
              color="ornadered">
              star
            </mat-icon>
          </div>

          <div>
            <img src= 'http://www.iconarchive.com/download/i102645/graphicloads/flat-finance/person.ico' width="200"
                 height="200" style="border-radius: 50%">
          </div>
        </mat-card-content>
        <mat-card-actions>

          <div fxLayout="row" fxLayoutAlign="center space-around">

            <button mat-button>
              <mat-icon matTooltip="Afficher préparation" (click)="openRecipeDetailDialog(client)"
                        style="color: blue">fastfood
              </mat-icon>
            </button>

          </div>

        </mat-card-actions>
      </mat-card>
    </ng-container>
    <div>

    </div>
  </div>


  <!-- ADD RECIPE BUTTON -->
  <button mat-fab class="mat-accent-bg corner-fap-button compose-dialog-button"
          id="add-recipe-button" (click)="openAddRecipeDialog()" aria-label="Nouvel Recette">
    <mat-icon>add</mat-icon>
  </button>
  <!-- / ADD RECIPE BUTTON -->


</div>



