@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
  line-height: $size;
}

.confirm-icon{
  color: #2C93FF;
  @include md-icon-size(35px);
  background-size: 100% auto;
  position: fixed;
}

.notif-text{
  text-align: center;
}

img {
  border-radius: 50%;
}

.notif-container {
  border: 2px solid #2C93FF;
}

.mat-dialog-container {
  padding: 0px !important;
}

.header-image {
  display: block;
  margin: 0 auto;
}

.step-container {
  max-height: 700px;
}
